.survey-table td {
    font-size: 16px;
}
.survey-table th {
    font-size: 16px;
    
}
/* th :first-child,td :first-child
{
    position: sticky;
    left: 0;
    z-index: 1;
}
td :nth-child(2),
th :nth-child(2){
    position: sticky;
    left: 80px;
    z-index: 1;

}
th :first-child,th :nth-child(2){z-index: 3;} */
.form-control {
    appearance: auto;
}
tbody, td, tfoot, th, thead, tr {
    border-color: #090a0a;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.table-bg {
    background-color: #f0f1f3;
   
}
.total-bg {
    background-color: #d4f5d3;
   
}
  /* th:nth-child(1), td:nth-child(1) {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    z-index: 2;
    width: 200px;
  }
  th:nth-child(2), td:nth-child(2) {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    z-index: 2;
    width: 200px;
  }
  th:nth-child(3), td:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    z-index: 2;
    width: 200px;
  } */
  .sticky{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #f0f1f3;
    
  }
  .sticky1{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 50px;
    background-color: #f0f1f3;
    
  }
  .sticky11{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 90px;
    background-color: #f0f1f3;
    
  }
  .sticky2{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 170px;
    background-color: #f0f1f3;
    
  }
  .sticky21{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 100px;
    background-color: #f0f1f3;
    
  }
  .sticky3{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 250px;
    background-color: #f0f1f3;
    
  }
  .sticky31{
    vertical-align:middle;
    position: sticky;
    top: 0px;
    left: 350px;
    background-color: #f0f1f3;
    
  }