<section clas s="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - HEALTH REPORTS</h2>
                </div>
            </div>

            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">


                    <div class="col-12 col-xl-2" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input type="radio" ng-control="options" value="U" name="catrad" id="catrad"
                                    [(ng-model)]="Swatch_Ur" (change)="URchange('U')" [checked]="ischecked"
                                    class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input type="radio" ng-control="options" value="R" name="catrad" id="catrad1"
                                    [(ng-model)]="Swatch_Ur" (change)="URchange('R')" class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-2 mt-4 pt-2">
                        <!--   <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button> -->
                    </div>
                    <div class="row align-items-center justify-content-center">

                        <div class="col-12 col-xl-2" *ngIf="Reportlevel !='0'">
                            <label class="form-label">District : </label>
                            <label class="form-label" style="color: green;">{{District}}</label>
                        </div>
                        <div class="col-12 col-xl-2" *ngIf="Reportlevel !='1' && Reportlevel !='0'">
                            <span *ngIf="Swatch_Ur =='U'"><label class="form-label">Urban : </label> </span>
                            <span *ngIf="Swatch_Ur !='U'"><label class="form-label">Mandal : </label> </span>
                            <label class="form-label" style="color: green;">{{Mandal}}</label>

                        </div>
                        <div class="col-12 col-xl-3" *ngIf="Reportlevel =='3'">
                            <label class="form-label">Grampanchayat/Ward : </label>
                            <label class="form-label" style="color: green;">{{Gp}}</label>

                        </div>

                    </div>
                    <div class="row" *ngIf="Reportlevel =='0'">
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i
                                    class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row" *ngIf="Reportlevel !='0'">
                        <div class="col-6 col-xl-6 text-start mb-0" *ngIf="Reportlevel !='0'">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button>
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i
                                    class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div *ngIf="Swatch_Ur == 'U'"> <span style="color: red;">Note : Below records are considered as
                            municipal commissioner approved records</span></div>
                    <div *ngIf="Swatch_Ur == 'R'"> <span style="color: red;">Note : Below records are considered as dpo
                            approved records</span></div>
                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='0'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>

                                        <th colspan="6"></th>

                                        <th rowspan="1" colspan="8">Health Issues</th>
                                        <th rowspan="1" colspan="32"></th>
                                        <th rowspan="1" colspan="12">Permanent Disability
                                        </th>




                                    </tr>
                                    <tr>
                                        <th colspan="3"></th>
                                        <th colspan="3">Health Checkups done</th>

                                        <th rowspan="1" colspan="4">Previously Suffered
                                            Health Issues</th>
                                        <th rowspan="1" colspan="4">Currently Suffered Health
                                            Issues</th>
                                        <th rowspan="1" colspan="4">Skin Diseases</th>
                                        <th rowspan="1" colspan="4">Respiratory</th>
                                        <th rowspan="1" colspan="4">Liver</th>
                                        <th rowspan="1" colspan="4">Cancer</th>
                                        <th rowspan="1" colspan="4">Cardiac/Heart</th>
                                        <th rowspan="1" colspan="4">Hypertension/BP</th>
                                        <th rowspan="1" colspan="4">Mental Illness</th>
                                        <th rowspan="1" colspan="4">Other</th>
                                        <th rowspan="1" colspan="4">Due to work</th>
                                        <th rowspan="1" colspan="4">By birth</th>
                                        <th rowspan="1" colspan="4">Others</th>





                                    </tr>
                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1">District</th>
                                        <th colspan="1">Total Surveyed</th>
                                        <th colspan="1">Yes(%)</th>
                                        <th colspan="1">No(%)</th>
                                        <th colspan="1">Total(%)</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of SurveyReportdata;let sno=index;">
                                        <td *ngIf="s.DISTRICT_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'"></td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'" style="color: blue;">{{s.DISTRICT_NAME}}
                                        </td>
                                        <td *ngIf="s.DISTRICT_NAME !='Total'"> <span><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetMandalSurveyReportdata(s.DISTRICT_ID,s.DISTRICT_NAME)">{{s.DISTRICT_NAME}}</a></span>
                                        </td>
                                        <td>{{s.TOTAL_SURVEYED }}</td>
                                        <td>{{s.HEALTH_CHECKUP_YES}}</td>
                                        <td>{{s.HEALTH_CHECKUP_NO}}</td>
                                        <td>{{s.TOTAL_YES_NO}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_PREVIOUS_HEALTH_ISSUE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_CURRENT_HEALTH_ISSUE }}</td>
                                        <td>{{s.MALE_SKIN_DISEASES }}</td>
                                        <td>{{s.FEMALE_SKIN_DISEASES }}</td>
                                        <td>{{s.TRANSGENDER_SKIN_DISEASES }}</td>
                                        <td>{{s.TOTAL_SKIN_DISEASES}}</td>
                                        <td>{{s. MALE_RESPIRATORY}}</td>
                                        <td>{{s.FEMALE_RESPIRATORY }}</td>
                                        <td>{{s.TRANSGENDER_RESPIRATORY }}</td>
                                        <td>{{s.TOTAL_RESPIRATORY }}</td>
                                        <td>{{s.MALE_LIVER_DISEASES }}</td>
                                        <td>{{s.FEMALE_LIVER_DISEASES }}</td>
                                        <td>{{s.TRANSGENDER_LIVER_DISEASES}}</td>
                                        <td>{{s.TOTAL_LIVER_DISEASES }}</td>
                                        <td>{{s.MALE_CANCER}}</td>
                                        <td>{{s. FEMALE_CANCER}}</td>
                                        <td>{{s.TRANSGENDER_CANCER }}</td>
                                        <td>{{s.TOTAL_CANCER }}</td>
                                        <td>{{s.MALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.FEMALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.TRANSGENDER_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.TOTAL_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.MALE_HYPERTENSION_BP}}</td>
                                        <td>{{s. FEMALE_HYPERTENSION_BP }}</td>
                                        <td>{{s. TRANSGENDER_HYPERTENSION_BP}}</td>
                                        <td>{{s.TOTAL_BP }}</td>
                                        <td>{{s. MALE_MENTAL_ILLNESS}}</td>
                                        <td>{{s.FEMALE_MENTAL_ILLNESS }}</td>
                                        <td>{{s.TRANSGENDER_MENTAL_ILLNESS }}</td>
                                        <td>{{s. TOTAL_MENTAL_ILLNESS}}</td>
                                        <td>{{s.MALE_OTHERS }}</td>
                                        <td>{{s.FEMALE_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_OTHERS }}</td>
                                        <td>{{s.TOTAL_OTHERS }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s. FEMALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_DUE_TO_WORK }}</td>
                                        <td>{{s.TOTAL_DUE_TO_WORK }}</td>
                                        <td>{{s.MALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TOTAL_BY_BIRTH }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_OTHERS}}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s. TOTAL_OTHERS1}}</td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='1'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>

                                        <th colspan="7" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="6" *ngIf="Swatch_Ur =='R'"></th>

                                        <th rowspan="1" colspan="8">Health Issues</th>
                                        <th rowspan="1" colspan="32"></th>
                                        <th rowspan="1" colspan="12">Permanent Disability
                                        </th>




                                    </tr>
                                    <tr>
                                        <th colspan="4" *ngIf="Swatch_Ur =='U'"></th>
                                        <th colspan="3" *ngIf="Swatch_Ur =='R'"></th>
                                        <th colspan="3">Health Checkups done</th>

                                        <th rowspan="1" colspan="4">Previously Suffered
                                            Health Issues</th>
                                        <th rowspan="1" colspan="4">Currently Suffered Health
                                            Issues</th>
                                        <th rowspan="1" colspan="4">Skin Diseases</th>
                                        <th rowspan="1" colspan="4">Respiratory</th>
                                        <th rowspan="1" colspan="4">Liver</th>
                                        <th rowspan="1" colspan="4">Cancer</th>
                                        <th rowspan="1" colspan="4">Cardiac/Heart</th>
                                        <th rowspan="1" colspan="4">Hypertension/BP</th>
                                        <th rowspan="1" colspan="4">Mental Illness</th>
                                        <th rowspan="1" colspan="4">Other</th>
                                        <th rowspan="1" colspan="4">Due to work</th>
                                        <th rowspan="1" colspan="4">By birth</th>
                                        <th rowspan="1" colspan="4">Others</th>





                                    </tr>
                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">Mandal</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local
                                            Body</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local
                                            Body(ULB) Code</th>

                                        <th colspan="1">Total Surveyed</th>
                                        <th colspan="1">Yes(%)</th>
                                        <th colspan="1">No(%)</th>
                                        <th colspan="1">Total(%)</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of MandalSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.MANDAL_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'"></td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'" style="color: blue;">{{s.MANDAL_NAME}}</td>
                                        <td *ngIf="s.MANDAL_NAME !='Total'"> <span><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetGpSurveyReportdata(s.MANDAL_NAME,s.MANDAL_ID)">{{s.MANDAL_NAME}}</a></span>
                                        </td>
                                        <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME !='Total'">{{s.MANDAL_ID}}</td>
                                        <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_SURVEYED }}</td>
                                        <td>{{s. HEALTH_CHECKUP_YES}}</td>
                                        <td>{{s. HEALTH_CHECKUP_NO}}</td>
                                        <td>{{s. TOTAL_YES_NO}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_PREVIOUS_HEALTH_ISSUE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_CURRENT_HEALTH_ISSUE }}</td>
                                        <td>{{s.MALE_SKIN_DISEASES }}</td>
                                        <td>{{s.FEMALE_SKIN_DISEASES }}</td>
                                        <td>{{s.TRANSGENDER_SKIN_DISEASES }}</td>
                                        <td>{{s.TOTAL_SKIN_DISEASES}}</td>
                                        <td>{{s. MALE_RESPIRATORY}}</td>
                                        <td>{{s.FEMALE_RESPIRATORY }}</td>
                                        <td>{{s.TRANSGENDER_RESPIRATORY }}</td>
                                        <td>{{s.TOTAL_RESPIRATORY }}</td>
                                        <td>{{s.MALE_LIVER_DISEASES }}</td>
                                        <td>{{s.FEMALE_LIVER_DISEASES }}</td>
                                        <td>{{s. TRANSGENDER_LIVER_DISEASES}}</td>
                                        <td>{{s.TOTAL_LIVER_DISEASES }}</td>
                                        <td>{{s. MALE_CANCER}}</td>
                                        <td>{{s. FEMALE_CANCER}}</td>
                                        <td>{{s.TRANSGENDER_CANCER }}</td>
                                        <td>{{s.TOTAL_CANCER }}</td>
                                        <td>{{s.MALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.FEMALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.TRANSGENDER_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.TOTAL_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.MALE_HYPERTENSION_BP}}</td>
                                        <td>{{s. FEMALE_HYPERTENSION_BP }}</td>
                                        <td>{{s. TRANSGENDER_HYPERTENSION_BP}}</td>
                                        <td>{{s.TOTAL_BP }}</td>
                                        <td>{{s. MALE_MENTAL_ILLNESS}}</td>
                                        <td>{{s.FEMALE_MENTAL_ILLNESS }}</td>
                                        <td>{{s.TRANSGENDER_MENTAL_ILLNESS }}</td>
                                        <td>{{s. TOTAL_MENTAL_ILLNESS}}</td>
                                        <td>{{s.MALE_OTHERS }}</td>
                                        <td>{{s.FEMALE_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_OTHERS }}</td>
                                        <td>{{s.TOTAL_OTHERS }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s. FEMALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_DUE_TO_WORK }}</td>
                                        <td>{{s.TOTAL_DUE_TO_WORK }}</td>
                                        <td>{{s.MALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TOTAL_BY_BIRTH }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_OTHERS}}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s. TOTAL_OTHERS1}}</td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>


                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='2'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>


                                        <th colspan="7" *ngIf="Swatch_Ur =='R'"></th>
                                        <th colspan="6" *ngIf="Swatch_Ur =='U'"></th>

                                        <th rowspan="1" colspan="8">Health Issues</th>
                                        <th rowspan="1" colspan="32"></th>
                                        <th rowspan="1" colspan="12">Permanent Disability
                                        </th>




                                    </tr>
                                    <tr>
                                        <th colspan="4" *ngIf="Swatch_Ur =='R'"></th>
                                        <th colspan="3" *ngIf="Swatch_Ur =='U'"></th>
                                        <th rowspan="1" colspan="3">Health Checkups done</th>

                                        <th rowspan="1" colspan="4">Previously Suffered
                                            Health Issues</th>
                                        <th rowspan="1" colspan="4">Currently Suffered Health
                                            Issues</th>
                                        <th rowspan="1" colspan="4">Skin Diseases</th>
                                        <th rowspan="1" colspan="4">Respiratory</th>
                                        <th rowspan="1" colspan="4">Liver</th>
                                        <th rowspan="1" colspan="4">Cancer</th>
                                        <th rowspan="1" colspan="4">Cardiac/Heart</th>
                                        <th rowspan="1" colspan="4">Hypertension/BP</th>
                                        <th rowspan="1" colspan="4">Mental Illness</th>
                                        <th rowspan="1" colspan="4">Other</th>
                                        <th rowspan="1" colspan="4">Due to work</th>
                                        <th rowspan="1" colspan="4">By birth</th>
                                        <th rowspan="1" colspan="4">Others</th>





                                    </tr>
                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">Gram
                                            panchayat</th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='R'">GP(LGD)Code
                                        </th>
                                        <th colspan="1" *ngIf="Swatch_Ur =='U'">Ward</th>

                                        <th colspan="1">Total Surveyed</th>
                                        <th colspan="1">Yes(%)</th>
                                        <th colspan="1">No(%)</th>
                                        <th colspan="1">Total(%)</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of GpSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td
                                            *ngIf="( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal == 'Penamaluru' ) || (Swatch_Ur =='U' && Mandal == 'Ysr Tadigadapa')">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td
                                            *ngIf=" ( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal != 'Penamaluru' ) && (Swatch_Ur =='U' && Mandal != 'Ysr Tadigadapa')">
                                            Ward No {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'"> <span><a
                                                    [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetVillageSurveyReportdata(s.WARD_OR_VILLAGE_NAME,s.WARD_OR_VILLAGE_ID)">{{s.WARD_OR_VILLAGE_NAME}}</a></span>
                                        </td>
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'">
                                            {{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td>{{s.TOTAL_SURVEYED }}</td>
                                        <td>{{s. HEALTH_CHECKUP_YES}}</td>
                                        <td>{{s. HEALTH_CHECKUP_NO}}</td>
                                        <td>{{s. TOTAL_YES_NO}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_PREVIOUS_HEALTH_ISSUE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_CURRENT_HEALTH_ISSUE }}</td>
                                        <td>{{s.MALE_SKIN_DISEASES }}</td>
                                        <td>{{s.FEMALE_SKIN_DISEASES }}</td>
                                        <td>{{s.TRANSGENDER_SKIN_DISEASES }}</td>
                                        <td>{{s.TOTAL_SKIN_DISEASES}}</td>
                                        <td>{{s. MALE_RESPIRATORY}}</td>
                                        <td>{{s.FEMALE_RESPIRATORY }}</td>
                                        <td>{{s.TRANSGENDER_RESPIRATORY }}</td>
                                        <td>{{s.TOTAL_RESPIRATORY }}</td>
                                        <td>{{s.MALE_LIVER_DISEASES }}</td>
                                        <td>{{s.FEMALE_LIVER_DISEASES }}</td>
                                        <td>{{s. TRANSGENDER_LIVER_DISEASES}}</td>
                                        <td>{{s.TOTAL_LIVER_DISEASES }}</td>
                                        <td>{{s. MALE_CANCER}}</td>
                                        <td>{{s. FEMALE_CANCER}}</td>
                                        <td>{{s.TRANSGENDER_CANCER }}</td>
                                        <td>{{s.TOTAL_CANCER }}</td>
                                        <td>{{s.MALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.FEMALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.TRANSGENDER_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.TOTAL_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.MALE_HYPERTENSION_BP}}</td>
                                        <td>{{s. FEMALE_HYPERTENSION_BP }}</td>
                                        <td>{{s. TRANSGENDER_HYPERTENSION_BP}}</td>
                                        <td>{{s.TOTAL_BP }}</td>
                                        <td>{{s. MALE_MENTAL_ILLNESS}}</td>
                                        <td>{{s.FEMALE_MENTAL_ILLNESS }}</td>
                                        <td>{{s.TRANSGENDER_MENTAL_ILLNESS }}</td>
                                        <td>{{s. TOTAL_MENTAL_ILLNESS}}</td>
                                        <td>{{s.MALE_OTHERS }}</td>
                                        <td>{{s.FEMALE_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_OTHERS }}</td>
                                        <td>{{s.TOTAL_OTHERS }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s. FEMALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_DUE_TO_WORK }}</td>
                                        <td>{{s.TOTAL_DUE_TO_WORK }}</td>
                                        <td>{{s.MALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TOTAL_BY_BIRTH }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_OTHERS}}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s. TOTAL_OTHERS1}}</td>

                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='3'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                    <tr>


                                        <th rowspan="1" colspan="7"></th>
                                        <th rowspan="1" colspan="8">Health Issues</th>
                                        <th rowspan="1" colspan="32"></th>
                                        <th rowspan="1" colspan="12">Permanent Disability
                                        </th>




                                    </tr>
                                    <tr>
                                        <th rowspan="1" colspan="4"></th>
                                        <th rowspan="1" colspan="3">Health Checkups done</th>
                                        <th rowspan="1" colspan="4">Previously Suffered
                                            Health Issues</th>
                                        <th rowspan="1" colspan="4">Currently Suffered Health
                                            Issues</th>
                                        <th rowspan="1" colspan="4">Skin Diseases</th>
                                        <th rowspan="1" colspan="4">Respiratory</th>
                                        <th rowspan="1" colspan="4">Liver</th>
                                        <th rowspan="1" colspan="4">Cancer</th>
                                        <th rowspan="1" colspan="4">Cardiac/Heart</th>
                                        <th rowspan="1" colspan="4">Hypertension/BP</th>
                                        <th rowspan="1" colspan="4">Mental Illness</th>
                                        <th rowspan="1" colspan="4">Other</th>
                                        <th rowspan="1" colspan="4">Due to work</th>
                                        <th rowspan="1" colspan="4">By birth</th>
                                        <th rowspan="1" colspan="4">Others</th>





                                    </tr>
                                    <tr>
                                        <th colspan="1">S.No</th>
                                        <th colspan="1">Village</th>
                                        <th colspan="1">Village Revenue Code</th>


                                        <th colspan="1">Total Surveyed</th>
                                        <th colspan="1">Yes(%)</th>
                                        <th colspan="1">No(%)</th>
                                        <th colspan="1">Total(%)</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                        <th rowspan="1" colspan="1">Male</th>
                                        <th rowspan="1" colspan="1">Female</th>
                                        <th rowspan="1" colspan="1">Transgender</th>
                                        <th>Total</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of VillageSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">
                                            {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td>{{s.TOTAL_SURVEYED }}</td>
                                        <td>{{s. HEALTH_CHECKUP_YES}}</td>
                                        <td>{{s. HEALTH_CHECKUP_NO}}</td>
                                        <td>{{s. TOTAL_YES_NO}}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.PREVIOUS_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_PREVIOUS_HEALTH_ISSUE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_MALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_FEMALE }}</td>
                                        <td>{{s.CURRENT_HEALTH_ISSUE_TRANSGENDER }}</td>
                                        <td>{{s.TOTAL_CURRENT_HEALTH_ISSUE }}</td>
                                        <td>{{s.MALE_SKIN_DISEASES }}</td>
                                        <td>{{s.FEMALE_SKIN_DISEASES }}</td>
                                        <td>{{s.TRANSGENDER_SKIN_DISEASES }}</td>
                                        <td>{{s.TOTAL_SKIN_DISEASES}}</td>
                                        <td>{{s. MALE_RESPIRATORY}}</td>
                                        <td>{{s.FEMALE_RESPIRATORY }}</td>
                                        <td>{{s.TRANSGENDER_RESPIRATORY }}</td>
                                        <td>{{s.TOTAL_RESPIRATORY }}</td>
                                        <td>{{s.MALE_LIVER_DISEASES }}</td>
                                        <td>{{s.FEMALE_LIVER_DISEASES }}</td>
                                        <td>{{s. TRANSGENDER_LIVER_DISEASES}}</td>
                                        <td>{{s.TOTAL_LIVER_DISEASES }}</td>
                                        <td>{{s. MALE_CANCER}}</td>
                                        <td>{{s. FEMALE_CANCER}}</td>
                                        <td>{{s.TRANSGENDER_CANCER }}</td>
                                        <td>{{s.TOTAL_CANCER }}</td>
                                        <td>{{s.MALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.FEMALE_CARDIAC_HEART_PROBLLEMS}}</td>
                                        <td>{{s.TRANSGENDER_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.TOTAL_CARDIAC_HEART_PROBLLEMS }}</td>
                                        <td>{{s.MALE_HYPERTENSION_BP}}</td>
                                        <td>{{s. FEMALE_HYPERTENSION_BP }}</td>
                                        <td>{{s. TRANSGENDER_HYPERTENSION_BP}}</td>
                                        <td>{{s.TOTAL_BP }}</td>
                                        <td>{{s. MALE_MENTAL_ILLNESS}}</td>
                                        <td>{{s.FEMALE_MENTAL_ILLNESS }}</td>
                                        <td>{{s.TRANSGENDER_MENTAL_ILLNESS }}</td>
                                        <td>{{s. TOTAL_MENTAL_ILLNESS}}</td>
                                        <td>{{s.MALE_OTHERS }}</td>
                                        <td>{{s.FEMALE_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_OTHERS }}</td>
                                        <td>{{s.TOTAL_OTHERS }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s. FEMALE_PERMANENT_DISABLED_DUE_TO_WORK}}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_DUE_TO_WORK }}</td>
                                        <td>{{s.TOTAL_DUE_TO_WORK }}</td>
                                        <td>{{s.MALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_BY_BIRTH }}</td>
                                        <td>{{s.TOTAL_BY_BIRTH }}</td>
                                        <td>{{s. MALE_PERMANENT_DISABLED_OTHERS}}</td>
                                        <td>{{s.FEMALE_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s.TRANSGENDER_PERMANENT_DISABLED_OTHERS }}</td>
                                        <td>{{s. TOTAL_OTHERS1}}</td>
                                    </tr>



                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://twitter.com/Swachhaandhra"
                            target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"
                            target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social"
                            href="https://www.youtube.com/c/swachhaandhracorporationgoap" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"
                            target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal
                        Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>