<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY</h2>
                </div>
            </div>
            <div class="card rural p-3 mb-3" *ngIf="roleid=='1001' || roleid=='1002'|| roleid=='1006'">
            <div class="row align-items-center justify-content-center">
                   
                <div class="col-12 col-xl-2" *ngIf="roleid=='1001' || roleid=='1002'|| roleid=='1006'">
                    
                        <div class="me-1">
                            <input type="radio" ng-control="options" value="U" name="catrad" id="catrad"
                                [(ng-model)]="Swatch_Ur" (change)="URchange('U')" [checked]="ischecked" class="me-2">
                            <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                        </div>
                       
                  
                    </div>
               <div class="col-12 col-xl-2" *ngIf="roleid=='1001' || roleid=='1002'|| roleid=='1006'">
                    <div class="me-1">
                        <input type="radio" ng-control="options" value="R" name="catrad" id="catrad1"
                            [(ng-model)]="Swatch_Ur" (change)="URchange('R')" class="me-2">
                        <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                    </div>
                </div>
              
            </div>
            </div>
            <div class="card p-3">
               


                <div class="col-12 col-xl-12 mt-2">
                    <div class="table-responsive">
                       <!--  <table class="table survey-table table-striped table-hover">
                            <thead>




                                <tr>

                                    <th *ngIf="Swatch_Ur =='U'" style="text-align: center">Total No.of wards</th>
                                    <th *ngIf="Swatch_Ur =='R'" style="text-align: center">Total No.of Villages</th>
                                    <th *ngIf="Swatch_Ur =='U'" style="text-align: center">No.of wards in which the survey has completed</th>
                                    <th *ngIf="Swatch_Ur =='R'" style="text-align: center">No.of Villages in which the survey has completed</th>
                                    <th *ngIf="Swatch_Ur =='U'" style="text-align: center">No.of wards in which the survey is pending</th>
                                    <th  *ngIf="Swatch_Ur =='R'" style="text-align: center">No.of Villages in which the survey is pending</th>
                                    <th style="text-align: center">Total No.of male sanitation workers</th>
                                    <th style="text-align: center">Total No.of female sanitation workers</th>
                                    <th style="text-align: center">Total No.of transgender workers</th>

                                </tr>




                            </thead>
                            <tbody>
                                <tr *ngFor="let s of countdata;let sno=index;">
                                    
                                    
                                    <td *ngIf="Swatch_Ur =='U'" >{{s.TOTAL_NUMBER_OF_WARDS_COUNTS}}</td>
                                    <td *ngIf="Swatch_Ur =='R'">{{s.TOTAL_NUMBER_OF_VILLAGES_COUNTS}}</td>
                                    <td>{{s.COMPLETED_COUNT}}</td>
                                    <td>{{s.PENDING_COUNT}}</td>
                                    <td>{{s.MALE_COUNT}}</td>
                                    <td>{{s.FEMALE_COUNT}}</td>
                                    <td>{{s.TRANSGENDER_COUNT}}</td>
                                </tr>



                            </tbody>
                        </table> -->
                    </div>
                </div>

                <div class="row align-items-center justify-content-center g-4 py-2">
                    <div class="col-12 col-xl-4">
                        <div class="card farm">
                            <div class="card-header">
                                <h5 class="mitra-header">{{TOTAL_NUMBER_OF_WARDS_Village_COUNTS_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{TOTAL_NUMBER_OF_WARDS_Village_COUNTS}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card plot">
                            <div class="card-header">
                                <h5 class="mitra-header">{{COMPLETED_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{COMPLETED_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card extent">
                            <div class="card-header">
                                <h5 class="mitra-header">{{PENDING_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{PENDING_COUNT}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-4">
                        <div class="card longitude">
                            <div class="card-header">
                                <h5 class="mitra-header">{{MALE_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{MALE_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card farmer">
                            <div class="card-header">
                                <h5 class="mitra-header">{{FEMALE_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{FEMALE_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card plant">
                            <div class="card-header">
                                <h5 class="mitra-header">{{TRANSGENDER_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{TRANSGENDER_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-xl-4">
                        <div class="card survey">
                            <div class="card-header">
                                <h5 class="mitra-header">{{TRANSGENDER_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{TRANSGENDER_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card pending">
                            <div class="card-header">
                                <h5 class="mitra-header">{{TRANSGENDER_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{TRANSGENDER_COUNT}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card worker">
                            <div class="card-header">
                                <h5 class="mitra-header">{{TRANSGENDER_COUNT_Name}}</h5>
                            </div>
                            <div class="card-body">
                                <h5 class="mitra-count">{{TRANSGENDER_COUNT}}</h5>
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    
</section>


<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<section class="footer-section1 bg-dark py-2" style="position: fixed;
    width: 100%;
    bottom: 0;">
<div class="container-xxl">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-12">
            <div class="footer-blk">
                <div class="copyright">
                    <p class="text-white mb-0 fs-6">Copyright © 2023 by <a class="text-white fw-bolder" href="" target="_blank">Swachha Andhra</a>, All Right Reserved.</p>
                </div>
            </div>
        </div>
      </div>
</div>
    </section> -->

  