
@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&amp;display=swap");

/* Launch Page */
.launch-logo h1{
    font-family: 'Mandali', cursive;
    font-size: 4rem;
    color: #1456a3;
    line-height: 0;
    margin-bottom: 0;
    margin-top: -30px;
  }
  
  .launch-logo img{
    height: 150px;
  }
  .launch-logo2 img{
    height: 100px;
  }
  .launch-logo p{
    line-height: 0;
    margin-bottom: 0;
    font-family: 'Mandali', sans-serif;
    font-size: 1.2rem;
    margin-top: -20px;
    color: #1456a3;
  }
  .launch{
    background-image: url(/assets/images/launch.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* background: -webkit-linear-gradient(left,#0065b3 0%,#018140 100%);
      background: linear-gradient(to right,#0065b3 0%,#018140 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0065b3',endColorstr='#018140',GradientType=1); */
  }
  /* .launch-section{
    padding: 30px 0px;
  } */
  .launcher-pd{
    padding: 100px 0px;
  }
  .launch-title{
    font-family: 'Dhurjati', cursive;
    font-size: 6rem;
    margin-bottom: 0px;
    color: #2f7d33;
    line-height: 1;
    font-weight: 400;
  }
  .launchtext{
    font-size: 2rem;
    color: #1456a3;
  }
  .cm-title{
    font-family: 'Mandali', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    color: #149147;
    font-weight: 800;
  }
  .cm-desc{
    font-family: 'Mandali', sans-serif;
    font-size: 1.5rem;
    color: #333;
  }
  .website-launch{
    border:1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 35px;
    display: inline-block;
    font-family: 'Teko', sans-serif;
    color: #222;
  }
  .launcher-pd .btn{
    border-radius: 2rem;
    color: #fff;
    border-color: #fff;
  }
  .launcher-pd .btn:hover{
    color: #fff;
  }
  /* Float Shadow */
  .float-shadow {
    display: inline-block;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform opacity;
  }
  .float-shadow:hover {
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .float-shadow:hover:before {
    opacity: 1;
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  /* Launch Page */
  
  
  /* Curtain */
  
  
  .leftcurtain{
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999;
  }
   .rightcurtain{
    width: 51%;
    height: 100%;
    right: 0px;
    top: 0px;
    position: fixed;
    z-index: 999;
  }
  .rightcurtain img, .leftcurtain img{
    width: 100%;
    height: 100%;
  }
  .logo{
    margin: 0px auto;
    margin-top: 150px;
  }
  .rope{
    position: absolute;
    top: -40px;
    left: 70%;
    z-index: 9999;
  }
  
  #confetti{
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 999;
  }
  /* Curtain */

  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
  }


  @keyframes fly {
    0% {
      top: 0%;
      left: 0%;
    }
    75% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 51%;
      left: 100%;
    }
  }
  
  @keyframes fly2 {
    0% {
      top: 0%;
      left: 0%;
    }
    75% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 51%;
      left: 100%;
    }
  }
  
  @keyframes cock {
    0% {
      top: 0%;
      left: 0%;
    }
    75% {
      top: 50%;
      left: 50%;
    }
    100% {
      top: 51%;
      left: 100%;
    }
  }
  
  @keyframes ball {
    0% {
      top: 0%;
      left: 0%;
    }
    75% {
      top: 50%;
      left: 70%;
    }
    100% {
      top: 51%;
      left: 100%;
    }
  }
  
.banner-cock-one {
    -webkit-animation: cock 5s linear 0s infinite;
    -moz-animation: cock 5s linear 0s infinite;
    animation: cock 5s linear 0s infinite;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
  }
  
  .banner-cock-three {
    -webkit-animation: ball 3s linear 0s infinite;
    -moz-animation: ball 3s linear 0s infinite;
    animation: ball 3s linear 0s infinite;
    position: absolute;
    top: 250px;
    right: 20%;
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
  }
  
  .banner-cock-four {
    -webkit-animation: ball 2s linear 0s infinite;
    -moz-animation: ball 2s linear 0s infinite;
    animation: ball 2s linear 0s infinite;
    position: absolute;
    bottom: 50px;
    right: 5%;
    transform: rotate(-45deg);
    opacity: 0.5;
  }

  .btn-primary{
    background: #1456a3 !important;
    border-radius: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-color: #1456a3;
    padding: 8px 40px !important;
  }

  .top-minister h5{
    font-size: 11px;
    margin-bottom: 0.10rem;
    margin-top: 0.25rem;
  }
  .top-minister p{
    font-size: 10px;
    margin-bottom: 0.2rem;}