<body class="commodity-bg">

    <main>
        <section class="section error-404 align-items-center justify-contnt-center">
      <div class="container" *ngIf="runproject=='ChefCode'">
          <div class="row min-vh-100 align-items-center justify-contnt-center">
              <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
            <i class="bi bi-hourglass-split text-dark" style="font-size: 80px;"></i>
  <!--                <img src="assets/img/blue-hourglass-1.gif" class="img-fluid" width="200px;" alt="blue-hourglass">-->
          <h2 class="text-center mb-2" style="font-size: 30px;">Your session has expired</h2>
      <p class="mb-4 text-center text-dark" style="font-size: 17px; font-weight: 600;">you're being timed out due to inactivity. Please choose to stay signed in or to logoff. <br>Otherwise you will logged off automatically.</p>
            <a class="btn back-to-home" routerLink="/ChefCode/login"> <i class="bi bi-house-door"></i> Back to home</a>
            <a class="btn login-au" routerLink="/ChefCode/login"> <i class="bi bi-box-arrow-in-right"></i> Login</a>
      </div>
              </div>
          </div>
          <div class="container" *ngIf="runproject=='boms'">
            <div class="row min-vh-100 align-items-center justify-contnt-center">
                <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
              <i class="bi bi-hourglass-split text-dark" style="font-size: 80px;"></i>
    <!--                <img src="assets/img/blue-hourglass-1.gif" class="img-fluid" width="200px;" alt="blue-hourglass">-->
            <h2 class="text-center mb-2" style="font-size: 30px;">Your session has expired</h2>
        <p class="mb-4 text-center text-dark" style="font-size: 17px; font-weight: 600;">you're being timed out due to inactivity. Please choose to stay signed in or to logoff. <br>Otherwise you will logged off automatically.</p>
              <a class="btn back-to-home" routerLink="/boms/login"> <i class="bi bi-house-door"></i> Back to home</a>
              <a class="btn login-au" routerLink="/boms/login"> <i class="bi bi-box-arrow-in-right"></i> Login</a>
        </div>
                </div>
            </div>
            <div class="container" *ngIf="runproject=='Payroll'">
              <div class="row min-vh-100 align-items-center justify-contnt-center">
                  <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
                <i class="bi bi-hourglass-split text-dark" style="font-size: 80px;"></i>
      <!--                <img src="assets/img/blue-hourglass-1.gif" class="img-fluid" width="200px;" alt="blue-hourglass">-->
              <h2 class="text-center mb-2" style="font-size: 30px;">Your session has expired</h2>
          <p class="mb-4 text-center text-dark" style="font-size: 17px; font-weight: 600;">you're being timed out due to inactivity. Please choose to stay signed in or to logoff. <br>Otherwise you will logged off automatically.</p>
                <a class="btn back-to-home" routerLink="/Payroll/login"> <i class="bi bi-house-door"></i> Back to home</a>
                <a class="btn login-au" routerLink="/Payroll/login"> <i class="bi bi-box-arrow-in-right"></i> Login</a>
          </div>
                  </div>
              </div>
      </section>
    </main><!-- End #main -->
</body>