.site-logo {
  width: 150px;
  border-radius: 100px;
}
.google-paly-icon {
  width: 120px;
}
.text-primary {
    color: #23b0c8 !important;
}
a.social-icons {
    color: #23b0c8;
    text-decoration: none;
}
a.social-icons:hover {
    color: #312a51;
}
.btn-primary {
    color: #000;
    background-color: #32acc6;
    border-color: #32acc6;
}
.btn-primary:hover {
    background-color: #312a51;
    border-color: #312a51;
}
.service-img {
    max-width: 150px;
    border-radius: 100px;
    transition: 0.3s;
}
.service-img:hover {
    transform: scale(1.1);
}
.bg-primary {
    background-color: #32acc6 !important;
}
section.services-section {
  background-color: #e3faff;
}
/* .weekly-special {
    background-image: url(../images/banner_2.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 46px 0px;
} */
/* Gallery Css Starts */
.playful figure {
    cursor: pointer;
    float: left;
    margin: 10px 1%;
    max-height: 225px;
    max-width: 480px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    border-radius: 70px;
  }
  
  .playful figure figcaption,
  .playful figure figcaption > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .playful figure figcaption {
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.25em;
    text-transform: uppercase;
  }
  
  .playful figure h4,
  .playful figure p {
    margin: 0;
  }
  
  .playful figure h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    word-spacing: -0.15em;
  }
  
  .playful figure p {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .playful figure h2,
  .playful figure p {
    margin: 0;
  }
  
  .playful figure.softeffect {
    background: none repeat scroll 0 0 #000000;
  }
  
  .playful figure.softeffect img {
    transition: opacity .35s ease 0s, transform .35s ease 0s;
  }
  
  figure.softeffect:hover img {
    opacity: 0.35;
    transform: scale(1);
  }
  
  .playful figure.softeffect figcaption:before,
  .playful figure.softeffect p {
    opacity: 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  }
  
  .playful figure.softeffect h4 {
    opacity: 0;
    padding: 20% 0 20px;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  }
  
  .playful figure.softeffect p {
    margin: 0 auto;
    max-width: 200px;
    transform: scale(1.5);
  }
  
  .playful figure.softeffect:hover figcaption:before,
  .playful figure.softeffect:hover p {
    opacity: 1;
    transform: scale(1);
  }
  
  .playful figure.softeffect:hover h4 {
    opacity: 1;
    transform: scale(1);
  }
  
  .playful figure img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 1;
    position: relative;
  }
  
  figure.softeffect {
    background: none repeat scroll 0 0 transparent;
  }
  
  figure.softeffect:hover {
    background: none repeat scroll 0 0 #000000;
    /* Cyan: #00aeef */
  }
  
  figure.softeffect img {
    transform: scale(1);
    transition: opacity .35s ease 0s, transform .35s ease 0s;
  }
  
  figure.softeffect:hover img {
    opacity: 0.40;
    transform: scale(1.15);
    filter: blur(2px);
  }
/* Gallery Css Ends */
/* fixed social*/
#fixed-social {
    position: fixed;
    top: 50%;
    z-index: 999;
    padding: 0px 0px;
    width: auto;
 }
 
 #fixed-social a {
    color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
     line-height: 40px;
    width: 40px;
    margin-bottom: 1px;
    z-index: 2;
 }
 #fixed-social a:hover>span{
     visibility: visible;
   left: 41px;
   opacity: 1;
 } 
 #fixed-social a span {
     line-height: 40px;
     left: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 1;
     opacity: 0;
 }
  .fixed-facebook{
      background-color: #3b5998;
  }
  .fixed-facebook span{
     background-color: #3b5998;
  }
  .fixed-twitter{
     background-color: #55acee;
 
  }
  .fixed-twitter span{
      background-color: #55acee;
  }
  .fixed-gplus{
     background-color: #cd201f;
 
  }
  .fixed-gplus span{
      background-color: #cd201f;
  }
  .fixed-linkedin{
     background-color: #0077b5;
 
  }
  .fixed-linkedin span{
      background-color: #0077b5;
  }
  .fixed-shopping-basket{
    background-color: #221b44;

 }
 .fixed-shopping-basket span{
     background-color: #221b44;
 }
  .fixed-instagrem{
     /* background-color: #e54f58; */
     background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 
  }
  .fixed-instagrem span{
      /* background-color: #e54f58; */
      background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  }
  .fixed-tumblr{
     background-color: #EB1471;
 
  }
  .fixed-tumblr span{
      background-color: #EB1471;
  }
 /*end fixed social*/
 section.about-section {
  /* background-image: url(../images/bg-fishes.png); */
  background-size: 25%;
  background-color: #f1f1f1;
}
section.products-section {
  /* background-image: url(../images/bg-fishes.png); */
  background-size: 25%;
}
img.client-block {
  width: 35%;
}
.img-hovereff {
  transition: 0.3s;
}
.img-hovereff:hover {
  transform: scale(1.1);
}
.ecomm-btn {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
  50% { background-color: #2c254d; -webkit-box-shadow: 0 0 40px #2c254d; }
  100% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
}

@-moz-keyframes glowing {
  0% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
  50% { background-color: #2c254d; -webkit-box-shadow: 0 0 40px #2c254d; }
  100% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
}

@-o-keyframes glowing {
  0% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
  50% { background-color: #2c254d; -webkit-box-shadow: 0 0 40px #2c254d; }
  100% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
}

@keyframes glowing {
  0% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
  50% { background-color: #2c254d; -webkit-box-shadow: 0 0 40px #2c254d; }
  100% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
}
@keyframes glowing1 {
  0% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
  50% { background-color: #23b0c8; -webkit-box-shadow: 0 0 40px #23b0c8; }
  100% { background-color: #23b0c8; -webkit-box-shadow: 0 0 3px #23b0c8; }
}
.shape-img-one {
  position: absolute;
  top: 0;
  left: 0;
}
.shape-img-one img {
  width: 57px;
  opacity: 0.6;
}
.shape-img-two {
  position: absolute;
  bottom: 0;
  right: 0;
}
.shape-img-two img {
  width: 57px;
  opacity: 0.6;
}
/* waves */
.ocean {
  height: 80px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
section.footer-section {
  background: linear-gradient(90deg, rgba(35,176,200,1) 0%, rgba(44,37,77,1) 100%);
}
.wave {
  /* background: url("../images/wave-bg.svg"); */
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}
.bg-waveshape {
  background-color: #0F172B !important;
  /* background-image: url(../images/sahep-bg2.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.position-sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.cm-image {
  width: 80px;
  border-radius:50%
}
span.cm-text {
  font-weight: 600;
  color: #0f172b;
  font-size: 16px;
}
p.cm-deg {
  font-size: 14px;
  color: #32acc6;
  font-weight: 500;
}
.logo-image {
  width: 80px;
}
.login-btn {
  background-color: #32acc6;
  border-color: #fff;
  color: white;
  border-radius: 26px !important;
}
.login-btn.buy{
  background-color:#dc3545 !important
}
a.login-btn:hover {
  color: #fff;
}
.counter-section2 {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  width: 42%;
  padding: 15px 0px;
  top: 35%;
  right: 0;
}
.counter-section2 .card {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}
.counter-section2 .card-body {
  padding: 0.75rem 0.55rem;
}
.counter-section2 .card-body h4 {
  font-weight: 600;
  color: #32acc6;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.counter-section2 .card-body h6 {
  color: #fff;
  font-size: 1.4rem !important;
  font-weight: 400;
}
.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}
.counter {
  font-family: 'Digital-7', sans-serif !important;
}
.counter1::before {
  content: "" !important;
}
.counter::before {
  content: "\20B9";
  position: relative;
  font-size: 20px;
  color: #fff;
  left: -4px;
}
.counter-section2 .card-body h5 {
  color: #32acc6;
  font-size: 15px !important;
  text-transform: uppercase;
}
/* Event Css Start */
.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 48px 0;
  margin: 3rem 0
}

.types__intro {
  margin-bottom: 48px;
  margin-bottom: 3rem
}

@media (min-width: 64em) {
  .types__intro {
      position:absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      color: #fff;
      pointer-events: none;
      z-index: 1
  }
}

.types__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%
}

@media (min-width: 64em) {
  .types__container {
      -webkit-box-orient:horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      min-height: 48rem
  }
}

@media (min-width: 80em) {
  .types__container {
      min-height:64rem
  }
}

.types__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 50vw;
  padding: 48px 12px;
  padding: 3rem .75rem;
  border: 0;
  background-position: 0 15%;
  background-size: cover;
  color: #fff;
  overflow: hidden
}

@media (min-width: 48em) {
  .types__item {
      min-height:40vw
  }
}

@media (min-width: 64em) {
  .types__item {
      min-height:0;
      background-position: center;
      -webkit-transition: width 300ms ease;
      transition: width 300ms ease
  }
}

.types-stacked__item::before,.types__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.types__item::before {
  background-color: rgba(32,32,32,.5);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease
}

.types__item.ally-focus-within,.types__item:hover {
  color: #fff
}

@media (min-width: 64em) {
  .types__item.ally-focus-within,.types__item:hover {
      width:150%
  }
}

.types__item.ally-focus-within::before,.types__item:hover::before {
  background-color: rgba(0,0,0,.25)
}

.types__title {
  position: relative;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0 auto;
  color: inherit;
  text-align: center
}

@media (min-width: 64em) {
  .types__title {
      -webkit-transition:visibility 300ms ease,opacity 300ms ease;
      transition: visibility 300ms ease,opacity 300ms ease;
      -webkit-transition-delay: 300ms;
      transition-delay: 300ms
  }

  .types__item.ally-focus-within .types__title,.types__item:hover .types__title {
      -webkit-transition: none;
      transition: none;
      visibility: hidden;
      opacity: 0
  }
}

.types__desc {
  display: none;
  position: absolute;
  right: 32px;
  right: 2rem;
  bottom: 48px;
  bottom: 3rem;
  left: 32px;
  left: 2rem;
  text-align: left
}

@media (min-width: 64em) {
  .types__desc {
      display:block;
      visibility: hidden;
      opacity: 0
  }
}

.types__desc p {
  max-width: 384px;
  max-width: 24rem;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 64em) {
  .types__item.ally-focus-within .types__desc,.types__item:hover .types__desc {
      -webkit-transition:visibility 300ms ease,opacity 300ms ease;
      transition: visibility 300ms ease,opacity 300ms ease;
      -webkit-transition-delay: 300ms;
      transition-delay: 300ms;
      visibility: visible;
      opacity: 1
  }
}

.types-stacked__grid+.types-stacked__grid,.types__desc__title {
  margin: 0
}

.types-stacked {
  margin: 96px 0 0;
  margin: 6rem 0 0;
}

.types-stacked__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-top: 0rem
}

@media (min-width: 64em) {
  .types-stacked__grid {
      -ms-flex-wrap:nowrap;
      flex-wrap: nowrap
  }
}

.types-stacked__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 352px;
  height: 22rem;
  border: 0;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  background-position: center;
  background-size: cover
}

@media (min-width: 48em) {
  .types-stacked__item {
      width:50%
  }
}

@media (min-width: 64em) {
  .types-stacked__item {
      width:25%
  }
}

.types-stacked__item::before {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  background-color: #202020;
  opacity: .75
}

@media (min-width: 64em) {
  .types-stacked__item:hover {
      width:40%
  }
}

.types-stacked__item:hover::before {
  opacity: .5
}

.types-stacked__item--large {
  height: 480px;
  height: 30rem
}

@media (min-width: 48em) {
  .types-stacked__item--large {
      width:50%
  }
}

@media (min-width: 64em) {
  .types-stacked__item--large:hover {
      width:70%
  }
}

.types-stacked__interior {
  position: relative;
  max-width: 512px;
  max-width: 32rem;
  padding: 40px;
  padding: 2.5rem;
  color: #fff
}

.types-stacked__title {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0
}

.types-stacked__title::before {
  content: '';
  position: absolute;
  top: calc(100% + .5rem);
  left: 0;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-bottom: .25rem solid transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease
}

.types-stacked__item:hover .types-stacked__title::before {
  border-bottom-color: #f2a900
}

.types-stacked__description {
  margin: 0;
  max-height: 0;
  -webkit-transition: max-height 300ms ease,opacity 300ms ease;
  transition: max-height 300ms ease,opacity 300ms ease;
  opacity: 0;
  overflow: hidden
}

.types-stacked__description p {
  margin: 16px 0 0;
  margin: 1rem 0 0
}

.types-stacked__item:hover .types-stacked__description {
  max-height: 320px;
  max-height: 20rem;
  opacity: 1
}

.types-stacked__item--large .types-stacked__description {
  max-height: none;
  opacity: 1
}
/* Event Css Ends */
.card-one {
  background-color: #fff0;
  box-shadow: 0px 0px 0px 0px #ccc;
  border-radius: 10px;
  position: relative;
  top: -110px;
  z-index: 700;
  margin-bottom: -100px;
}
.count-box {
  background-color: #0000009e;
  border: 3px solid #32acc6 !important;
  border-top-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}
/*** Testimonial ***/
.testimonial {
  /* background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../images/bg_promo2.jpg); */
  /* background: linear-gradient(rgb(15 23 43 / 35%), rgb(15 23 43 / 30%)), url(../images/bg_promo2.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testi-bg {
    /* background: url(../images/bg-fishes.png); */
    background-position: center center;
    background-repeat: repeat;
    background-size: 25%;
    background-color: #f1f1f1;
}

.news-carousel {
  padding-left: 65px;
  padding-right: 65px;
}

.news-carousel .testimonial-item {
  padding: 10px;
}

.news-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  display: flex !important;
  justify-content: space-between;
  z-index: 1;
}

.news-carousel .owl-nav .owl-prev,
.news-carousel .owl-nav .owl-next {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #23b0c8;
  border-radius: 2px;
  font-size: 18px;
  transition: .5s;
}

.news-carousel .owl-nav .owl-prev:hover,
.news-carousel .owl-nav .owl-next:hover {
  color: #23b0c8;
  background: #FFFFFF;
}
.news-img img {
  height: 300px;
  border-radius: 15px;
  cursor: pointer;
}
.about-section{
  padding-top:90px
}
.navbar-fixed {
  top: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #000 !important;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #32acc6 !important;
}
.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
  color: #32acc6 !important;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125 !important;
  background-color: #a2e9f9 !important;
}
.business-tabs {
  max-width: 75% !important;
}
.login-logo img {
  width: 90%;
}
section.login-section {
  min-height: calc(100vh - 248px);
}
ul.obje-list li {
  list-style: none;
}
ul.obje-list {
  padding: 0;
}
ul.obje-list i {
  font-size: 15px;
  color: #0f172b;
}
.team-block img {
  width: 25%;
}
.hub-text p {
  text-align: justify;
}
.card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ccc;
}