@media screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation : portrait){
    .blog-style8-title-box:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        right: 0px;
        background-color: #f9f5f3;
        z-index: -1;
    }
    .navbar-toggler {
        background-color: #000 !important;
    }
    .navbar-dark .navbar-toggler {
        color: rgb(255 255 255);
        border-color: rgb(255 255 255);
    }
    .tabs-container {
        padding: 1rem !important;
    }
    .testimonial {
        padding: 0px 0px !important;
    }
    .container {
        padding: 0px 0px !important;
    }
    .news-carousel {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .radio-btn {
        display: block;
    }
    .col-lg-3.proshow-mobres {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .card {
        padding-bottom: 10px !important;
    }
    .col-lg-5.quty-moblie-res {
        width: 40% !important;
    }
    .col-lg-2.quty-moblie-res {
        width: 20% !important;
    }
    a.cart-btn {
        background-color: #32acc6;
        color: #fff;
        border-radius: 10px !important;
        padding: 0px 5px !important;
        line-height: 43px !important;
        font-size: 14px;
    }
    .shipping-add {
        position: relative !important;
        bottom: 0px !important;
    }
    .toproceed {
        position: relative !important;
    }
    .col-lg-2.product-mobile-resp {
        width: 30%;
    }
    .col-lg-8.product-mobile-resp {
        width: 60%;
    }
    .col-lg-2.product-mobile-resp1 {
        width: 10%;
    }
    .col-lg-4.product-mobile-resp3 {
        width: 40%;
    }
    .col-lg-8.product-mobile-resp2 {
        width: 60%;
    }
    .col-lg-8.product-mobile-resp4 {
        width: 70%;
    }
    .col-lg-4.product-mobile-resp5 {
        width: 30%;
    }
    .col-lg-4.product-mobile-resp7 {
        width: 50%;
    }
    .col-lg-8.product-mobile-resp6 {
        width: 50%;
    }
    button.btn.btn-custom.mob-text-center {
        width: 100%;
    }
    .total-price {
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .mob-logo {
        display: none;
    }
    .location-block {
        width: 100% !important;
        display: block !important;
    }
    .mob-search {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    a.nav-link.dropdown-toggle.text-dark {
        text-align: center;
    }
    .offset-md-7 {
        margin-left: 0px !important;
    }
    .mobile-pills {
        display: block !important;
    }
    .mobile-pills-navbar {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .mobile-pills-content {
        width: 100% !important;
    }
    .app-iconblk {
        width: 100% !important;
    }
    .level-one {
        width: 100% !important;
        height: auto !important;
    }
    ul.dropdown-menu.side-levelone {
        width: 100% !important;
        height: auto !important;
        left: 156px !important;
    }
    ul.dropdown-menu.side-leveltwo {
        width: 100% !important;
        height: auto !important;
        left: 156px !important;
    }
    .login-btn {
        background-color: #32acc6;
        border-color: #fff;
        color: white;
        border-radius: 26px !important;
        display: block !important;
        width: 35%;
        text-align: center;
    }
    .google-paly-icon {
        width: 180px;
        margin-left: -6px;
    }
    .wrapper {
        margin: 0px auto !important;
    }
    .wrapper nav {
        display: flex;
        justify-content: space-between !important;
        z-index: 1;
    }
    .logo-block {
        display: none !important;
    }
    a.navbar-brand h1 {
        font-size: 16px;
    }
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){
    .blog-style8-title-box:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        right: 0px;
        background-color: #f9f5f3;
        z-index: -1;
    }
    .navbar-toggler {
        background-color: #000 !important;
    }
    .navbar-dark .navbar-toggler {
        color: rgb(255 255 255);
        border-color: rgb(255 255 255);
    }
    .tabs-container {
        padding: 1rem !important;
    }
    .testimonial {
        padding: 0px 0px !important;
    }
    .container {
        padding: 0px 0px !important;
    }
    .news-carousel {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .radio-btn {
        display: block;
    }
    .col-lg-3.proshow-mobres {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .card {
        padding-bottom: 10px !important;
    }
    .col-lg-5.quty-moblie-res {
        width: 40% !important;
    }
    .col-lg-2.quty-moblie-res {
        width: 20% !important;
    }
    a.cart-btn {
        background-color: #32acc6;
        color: #fff;
        border-radius: 100px !important;
        padding: 0px 7px !important;
        line-height: 43px !important;
    }
    .shipping-add {
        position: relative !important;
        bottom: 0px !important;
    }
    .toproceed {
        position: relative !important;
    }
    .col-lg-2.product-mobile-resp {
        width: 30%;
    }
    .col-lg-8.product-mobile-resp {
        width: 60%;
    }
    .col-lg-2.product-mobile-resp1 {
        width: 10%;
    }
    .col-lg-4.product-mobile-resp3 {
        width: 40%;
    }
    .col-lg-8.product-mobile-resp2 {
        width: 60%;
    }
    .col-lg-8.product-mobile-resp4 {
        width: 70%;
    }
    .col-lg-4.product-mobile-resp5 {
        width: 30%;
    }
    .col-lg-4.product-mobile-resp7 {
        width: 50%;
    }
    .col-lg-8.product-mobile-resp6 {
        width: 50%;
    }
    button.btn.btn-custom.mob-text-center {
        width: 100%;
    }
    .total-price {
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .mob-logo {
        display: none;
    }
    .location-block {
        width: 100% !important;
        display: block !important;
    }
    .mob-search {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    a.nav-link.dropdown-toggle.text-dark {
        text-align: center;
    }
    .offset-md-7 {
        margin-left: 0px !important;
    }
    .mobile-pills {
        display: block !important;
    }
    .mobile-pills-navbar {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .mobile-pills-content {
        width: 100% !important;
    }
    .app-iconblk {
        width: 100% !important;
    }
    .level-one {
        width: 100% !important;
        height: auto !important;
    }
    ul.dropdown-menu.side-levelone {
        width: 100% !important;
        height: auto !important;
        left: 156px !important;
    }
    ul.dropdown-menu.side-leveltwo {
        width: 100% !important;
        height: auto !important;
        left: 156px !important;
    }
    .login-btn {
        background-color: #32acc6;
        border-color: #fff;
        color: white;
        border-radius: 26px !important;
        display: block !important;
        width: 35% !important;
        text-align: center !important;
    }
    .google-paly-icon {
        width: 180px !important;
        margin-left: -6px !important;
    }
    .wrapper {
        margin: 0px auto !important;
    }
    .wrapper nav {
        display: flex;
        justify-content: space-between !important;
        z-index: 1;
    }
    .logo-block {
        display: none !important;
    }
    a.navbar-brand h1 {
        font-size: 16px;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
    .blog-style8-title-box:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        right: 0px;
        background-color: #f9f5f3;
        z-index: -1;
    }
    .navbar-toggler {
        background-color: #000 !important;
    }
    .navbar-dark .navbar-toggler {
        color: rgb(255 255 255);
        border-color: rgb(255 255 255);
    }
    .news-img img {
        height: 175px;
        border-radius: 15px;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 23.66667%;
    }
    .shipping-add {
        position: relative !important;
        bottom: 0px !important;
    }
    .toproceed {
        position: relative !important;
    }
    button.btn.btn-custom.mob-text-center {
        width: 100%;
    }
    .total-price {
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .col-lg-2.product-mobile-resp {
        width: 30%;
    }
    .col-lg-8.product-mobile-resp {
        width: 60%;
    }
    .col-lg-2.product-mobile-resp1 {
        width: 10%;
    }
    .col-lg-4.product-mobile-resp3 {
        width: 40%;
    }
    .col-lg-8.product-mobile-resp2 {
        width: 60%;
    }
    .col-lg-8.product-mobile-resp4 {
        width: 70%;
    }
    .col-lg-4.product-mobile-resp5 {
        width: 30%;
    }
    .col-lg-4.product-mobile-resp7 {
        width: 50%;
    }
    .col-lg-8.product-mobile-resp6 {
        width: 50%;
    }
    .offset-md-7 {
        margin-left: 268px !important;
    }
    .col-lg-3.proshow-mobres {
        width: 33% !important;
        margin-bottom: 20px;
    }
    .card {
        padding-bottom: 10px !important;
    }
    .col-lg-5.quty-moblie-res {
        width: 40%;
    }
    .col-lg-2.quty-moblie-res {
        width: 20%;
    }
    a.cart-btn {
        background-color: #32acc6;
        color: #fff;
        border-radius: 100px !important;
        padding: 0px 7px !important;
        line-height: 43px !important;
    }
    .col-lg-3.responsive-tablet {
        width: 40%;
    }
    .col-lg-2.responsive-tablet {
        width: 25%;
    }
    .location-block {
        width: 77% !important;
    }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation : landscape){
    .col-sm-2 {
        flex: 0 0 auto;
        width: 22.66667%;
    }
    p.cm-deg {
        font-size: 9px;
        color: #32acc6;
        font-weight: 500;
    }
    span.cm-text {
        font-weight: 600;
        color: #0f172b;
        font-size: 10px;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        padding: 10px 5px !important;
    }
    .login-btn.buy {
        background-color: #dc3545 !important;
        padding: 0px 5px !important;
        font-size: 10px !important;
        margin: 0px 5px 0px 0px !important;
        text-align: center !important;
        width: 90px !important;
        line-height: 27px !important;
    }
    .google-paly-icon {
        width: 100px !important;
    }
    .site-logo {
        width: 100px !important;
        border-radius: 100px;
    }
    .login-btn {
        font-size: 13px !important;
        line-height: 18px !important;
        margin: 0px 2px 0px 2px !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        margin-right: 10px;
        padding: 7px 0px 0px 0px;
        color: #221b44;
        font-size: 11px;
        text-transform: capitalize;
        outline: none;
        font-weight: 600;
    }
    .navbar-expand-lg .navbar-nav {
        width: 96% !important;
    }
    .col-lg-3.proshow-mobres {
        width: 20.5rem !important;
        margin-bottom: 20px;
    }
}
@media screen and (max-device-width: 1440px) and (min-device-width: 900px) and (orientation : landscape) {
    .col-sm-2 {
        flex: 0 0 auto;
        width: 22.66667%;
    }
    p.cm-deg {
        font-size: 12px;
        color: #32acc6;
        font-weight: 500;
    }
    span.cm-text {
        font-weight: 600;
        color: #0f172b;
        font-size: 14px;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        padding: 10px 5px !important;
    }
    .login-btn.buy {
        background-color: #dc3545 !important;
        padding: 0px 5px !important;
        font-size: 10px !important;
        margin: 0px 5px 0px 0px !important;
        text-align: center !important;
        width: 90px !important;
        line-height: 27px !important;
    }
    .google-paly-icon {
        width: 100px !important;
    }
    .site-logo {
        width: 100px !important;
        border-radius: 100px;
    }
    .login-btn {
        font-size: 13px !important;
        line-height: 18px !important;
        margin: 0px 2px 0px 2px !important;
    }
    .navbar-dark .navbar-nav .nav-link {
        margin-right: 10px;
        padding: 7px 0px 0px 0px;
        color: #221b44;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        font-weight: 600;
    }
    .navbar-expand-lg .navbar-nav {
        width: 96% !important;
    }
}