<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - WORK ACTIVITY REPORTS</h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-3" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                       
                          
                        <div class="form-check d-flex px-0">
                            <label class="form-label me-3">Andhra Pradesh</label>
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')" class="me-2" >
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                  <!--   <button type="button" (click)="GetSurveyReportdata()" class="btn btn-primary btn-sm mt-1">GET</button> -->
                </div>
                <div class="row align-items-center justify-content-center">
                   
                    <div class="col-12 col-xl-2" *ngIf="Reportlevel !='0'">
                        <label class="form-label">District : </label>
                        <label class="form-label" style="color: green;">{{District}}</label>
                    </div>
                    <div class="col-12 col-xl-2" *ngIf="Reportlevel !='1' && Reportlevel !='0'">
                        <span *ngIf="Swatch_Ur =='U'"><label class="form-label">Urban : </label> </span>
                        <span *ngIf="Swatch_Ur !='U'"><label class="form-label">Mandal : </label> </span>
                        <label class="form-label" style="color: green;">{{Mandal}}</label>
                       
                    </div>
                    <div class="col-12 col-xl-3" *ngIf="Reportlevel =='3'">
                        <label class="form-label">Grampanchayat/Ward : </label>
                        <label class="form-label" style="color: green;">{{Gp}}</label>
                       
                    </div>
                  
                </div>  
                <div class="row" *ngIf="Reportlevel =='0'">
                    <div class="col-12 col-xl-12 text-end">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                    </div>
                </div>
                <div class="row" *ngIf="Reportlevel !='0'">
                    <div class="col-6 col-xl-6 text-start mb-0" *ngIf="Reportlevel !='0'">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button>
                    </div>
                    <div class="col-6 col-xl-6 text-end">
                        <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                    </div>
                </div>
                <div *ngIf="Swatch_Ur == 'U'" > <span style="color: red;">Note : Below records are considered as municipal commissioner approved records</span></div>
                <div *ngIf="Swatch_Ur == 'R'" > <span style="color: red;">Note : Below records are considered as dpo approved records</span></div>
                <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='0'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead >
                                    <tr>
                                        <th colspan="3"></th>
                                        <th colspan="8" style="text-align: center">Livelihood Activities </th>
                                    </tr>
                                    <tr >
                                        <th  colspan="1" style="text-align: center">S.No</th>
                                        <th  colspan="1" style="text-align: center">District</th>
                                        <th  colspan="1" style="text-align: center">Total Surveyed</th>
                                        
                                        <th colspan="1" style="text-align: center">Construction Labour</th>
                                        <th colspan="1" style="text-align: center">Street Vending</th>
                                        <th colspan="1" style="text-align: center">Cottage Industry</th>
                                        <th colspan="1" style="text-align: center">Agriculture Labour</th>
                                        <th colspan="1" style="text-align: center">Farming</th>
                                        <th colspan="1" style="text-align: center">Domestic Work </th>
                                        <th colspan="1" style="text-align: center">Petty Business </th>
                                        <th colspan="1" style="text-align: center">Others </th>
                                       
                                     </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of SurveyReportdata;let sno=index;">
                                        <td *ngIf="s.DISTRICT_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'"></td>
                                        <td *ngIf="s.DISTRICT_NAME =='Total'" style="color: blue;">{{s.DISTRICT_NAME}}</td>
                                        <td *ngIf="s.DISTRICT_NAME !='Total'"> <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetMandalSurveyReportdata(s.DISTRICT_ID,s.DISTRICT_NAME)">{{s.DISTRICT_NAME}}</a></span></td>
                                        <td>{{s.TOTAL_SUREYED}}</td>
                                        <td>{{s.LIVELIHOOD_CONSTRUCTION_LABORER }}</td>
                                        <td>{{s.LIVELIHOOD_STREET_VENDING}}</td>
                                        <td>{{s.LIVELIHOOD_COTTAGE_INDUSTRY}}</td>
                                        <td>{{s.LIVELIHOOD_AGRICULTURE_LABOR}}</td>
                                        <td>{{s.LIVELIHOOD_FARMING}}</td>
                                        <td>{{s.LIVELIHOOD_DOMESTIC_WORKER}}</td>
                                        <td>{{s.LIVELIHOOD_PETTY_BUSINESS}}</td>
                                        <td>{{s.LIVELIHOOD_OTHERS}}</td>
                                     
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                      
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='1'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr>
                                       
                                        <th *ngIf="Swatch_Ur =='U'" colspan="4"></th>
                                        <th *ngIf="Swatch_Ur =='R'" colspan="3"></th>
                                        <th colspan="8" style="text-align: center">Livelihood Activities </th>
                                    </tr>
                                    <tr >

                                        <th  colspan="1" style="text-align: center">S.No</th>
                                        <th    colspan="1" *ngIf="Swatch_Ur =='R'">Mandal</th>
                                        <th   colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local Body</th>
                                       
                                        <th  colspan="1" *ngIf="Swatch_Ur =='U'">Urban Local Body (ULB)Code</th>
                                        <th   colspan="1" style="text-align: center">Total Surveyed</th>
                                        <th colspan="1" style="text-align: center">Construction Labour</th>
                                        <th colspan="1" style="text-align: center">Street Vending</th>
                                        <th colspan="1" style="text-align: center">Cottage Industry</th>
                                        <th colspan="1" style="text-align: center">Agriculture Labour</th>
                                        <th colspan="1" style="text-align: center">Farming</th>
                                        <th colspan="1" style="text-align: center">Domestic Work </th>
                                        <th colspan="1" style="text-align: center">Petty Business </th>
                                        <th colspan="1" style="text-align: center">Others </th>
                                        
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of MandalSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.MANDAL_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'"></td>
                                        <td *ngIf="s.MANDAL_NAME =='Total'" style="color: blue;">{{s.MANDAL_NAME}}</td>
                                        <td *ngIf="s.MANDAL_NAME !='Total'">  <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetGpSurveyReportdata(s.MANDAL_NAME,s.MANDAL_ID)">{{s.MANDAL_NAME}}</a></span></td>
                                         
                                         <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME !='Total'">{{s.MANDAL_ID}}</td>
                                         <td *ngIf="Swatch_Ur =='U' && s.MANDAL_NAME =='Total'"></td>
                                         <!-- <td>{{s.GENDER_MALE}}</td> -->
                                         <td>{{s.TOTAL_SUREYED}}</td>
                                         <td>{{s.LIVELIHOOD_CONSTRUCTION_LABORER }}</td>
                                         <td>{{s.LIVELIHOOD_STREET_VENDING}}</td>
                                         <td>{{s.LIVELIHOOD_COTTAGE_INDUSTRY}}</td>
                                         <td>{{s.LIVELIHOOD_AGRICULTURE_LABOR}}</td>
                                         <td>{{s.LIVELIHOOD_FARMING}}</td>
                                         <td>{{s.LIVELIHOOD_DOMESTIC_WORKER}}</td>
                                         <td>{{s.LIVELIHOOD_PETTY_BUSINESS}}</td>
                                         <td>{{s.LIVELIHOOD_OTHERS}}</td>
                                     
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                       
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='2'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th *ngIf="Swatch_Ur =='U'" colspan="3"></th>
                                        <th *ngIf="Swatch_Ur =='R'" colspan="4"></th>
                                      
                                      
                                        <th colspan="8" style="text-align: center">Livelihood Activities </th>
                                    </tr>
                                    <tr >
                                        <th style="text-align: center">S.No</th>
                                        <th  colspan="1" *ngIf="Swatch_Ur =='R'">Gram panchayat</th>
                                        <th   colspan="1" *ngIf="Swatch_Ur =='R'">GP(LGD)Code</th>
                                        <th  colspan="1" *ngIf="Swatch_Ur =='U'">Ward</th>
                                       
                                        <th  colspan="1" style="text-align: center">Total Surveyed</th>
                                        <th colspan="1" style="text-align: center">Construction Labour</th>
                                        <th colspan="1" style="text-align: center">Street Vending</th>
                                        <th colspan="1" style="text-align: center">Cottage Industry</th>
                                        <th colspan="1" style="text-align: center">Agriculture Labour</th>
                                        <th colspan="1" style="text-align: center">Farming</th>
                                        <th colspan="1" style="text-align: center">Domestic Work </th>
                                        <th colspan="1" style="text-align: center">Petty Business </th>
                                        <th colspan="1" style="text-align: center">Others </th>
                                        
                                    </tr>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of GpSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;"> {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <!-- <td  *ngIf="( Swatch_Ur =='U' && Mandal == 'Penamaluru' ) || (Swatch_Ur =='U' && Mandal == 'Ysr Tadigadapa')">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                        <td *ngIf=" ( Swatch_Ur =='U' && Mandal != 'Penamaluru' ) && (Swatch_Ur =='U' && Mandal != 'Ysr Tadigadapa')">Ward No {{s.WARD_OR_VILLAGE_NAME}}</td>
                                        -->

                                        <td *ngIf="( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal == 'Penamaluru' ) || (Swatch_Ur =='U' && Mandal == 'Ysr Tadigadapa')">  
                                            
                                            <span ><a [routerLink]="" style="
                                                color: green;
                                                text-decoration: underline;
                                                text-decoration-color: #8f867c;
                                              " (click)="GetModaldata(s.WARD_OR_VILLAGE_ID,'U')">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>


                                         <td *ngIf=" ( Swatch_Ur =='U' && s.WARD_OR_VILLAGE_NAME !='Total' && Mandal != 'Penamaluru' ) && (Swatch_Ur =='U' && Mandal != 'Ysr Tadigadapa')">   
                                            
                                            <span ><a [routerLink]="" style="
                                                color: green;
                                                text-decoration: underline;
                                                text-decoration-color: #8f867c;
                                              " (click)="GetModaldata(s.WARD_OR_VILLAGE_ID,'U')"> Ward No{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                            
                                       <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'"> <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)="GetVillageSurveyReportdata(s.WARD_OR_VILLAGE_NAME,s.WARD_OR_VILLAGE_ID)">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                       <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                       <td *ngIf="Swatch_Ur =='R' && s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                         <td>{{s.TOTAL_SUREYED}}</td>
                                          <td>{{s.LIVELIHOOD_CONSTRUCTION_LABORER }}</td>
                                          <td>{{s.LIVELIHOOD_STREET_VENDING}}</td>
                                          <td>{{s.LIVELIHOOD_COTTAGE_INDUSTRY}}</td>
                                          <td>{{s.LIVELIHOOD_AGRICULTURE_LABOR}}</td>
                                          <td>{{s.LIVELIHOOD_FARMING}}</td>
                                          <td>{{s.LIVELIHOOD_DOMESTIC_WORKER}}</td>
                                          <td>{{s.LIVELIHOOD_PETTY_BUSINESS}}</td>
                                          <td>{{s.LIVELIHOOD_OTHERS}}</td>
                                       
                                        
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                      
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 mt-2" *ngIf="Reportlevel =='3'">
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover">
                                <thead>
                                    <tr>
                                      
                                        <th colspan="4"></th>
                                        <th colspan="8" style="text-align: center">Livelihood Activities </th>
                                    </tr>
                                    <tr >
                                        <th  colspan="1" style="text-align: center">S.No</th>
                                        <th  colspan="1" style="text-align: center">Village</th>
                                        <th  colspan="1" style="text-align: center">Village Revenue Code</th>
                                        
                                        <th   colspan="1" style="text-align: center">Total Surveyed</th>
                                        <th colspan="1" style="text-align: center">Construction Labour</th>
                                        <th colspan="1" style="text-align: center">Street Vending</th>
                                        <th colspan="1" style="text-align: center">Cottage Industry</th>
                                        <th colspan="1" style="text-align: center">Agriculture Labour</th>
                                        <th colspan="1" style="text-align: center">Farming</th>
                                        <th colspan="1" style="text-align: center">Domestic Work </th>
                                        <th colspan="1" style="text-align: center">Petty Business </th>
                                        <th colspan="1" style="text-align: center">Others </th>
                                        
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of VillageSurveyReportdata;let sno=index;">
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{sno+1}}</td>
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                        
                                        <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">  <span ><a [routerLink]="" style="
                                            color: green;
                                            text-decoration: underline;
                                            text-decoration-color: #8f867c;
                                          " (click)=" GetModaldata (s.WARD_OR_VILLAGE_ID,'R')">{{s.WARD_OR_VILLAGE_NAME}}</a></span></td>
                                      
                                         <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'" style="color: blue;">{{s.WARD_OR_VILLAGE_NAME}}</td>
                                         <td *ngIf="s.WARD_OR_VILLAGE_NAME =='Total'"></td>
                                         <td *ngIf="s.WARD_OR_VILLAGE_NAME !='Total'">{{s.WARD_OR_VILLAGE_ID}}</td>
                                        <td>{{s.TOTAL_SUREYED}}</td>
                                        <td>{{s.LIVELIHOOD_CONSTRUCTION_LABORER }}</td>
                                        <td>{{s.LIVELIHOOD_STREET_VENDING}}</td>
                                        <td>{{s.LIVELIHOOD_COTTAGE_INDUSTRY}}</td>
                                        <td>{{s.LIVELIHOOD_AGRICULTURE_LABOR}}</td>
                                        <td>{{s.LIVELIHOOD_FARMING}}</td>
                                        <td>{{s.LIVELIHOOD_DOMESTIC_WORKER}}</td>
                                        <td>{{s.LIVELIHOOD_PETTY_BUSINESS}}</td>
                                        <td>{{s.LIVELIHOOD_OTHERS}}</td>
                                      
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>





    
    <!-- ***********************Modal ****************-->

    <div class="modal" id="addModalshow" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true"
        [ngStyle]="{'display':addModaldisplay}">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" (click)="modalclose()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <from class="enquiry-form">
    
                        <h5 class="modal-title" id="exampleModalLabel">Core Sanitation Worker Work Activity Details</h5>
    
                        <div class="col-12 col-xl-12 mt-2">
                            <div class="table-responsive">
                                <table class="table survey-table table-striped table-hover">
                                    <thead>
                                        

                                        <tr>
                                            <td>S.No</td>
                                            <td>Survey ID</td>
                                            <td>Name</td>
                                            <td>Livelihood Name</td>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                         <tr>
                                            
                                            <tr *ngFor="let s of modaldata;let sno=index;">
                                                <td>{{sno+1}}</td>
                                                <td>{{s.SURVEY_ID}}</td>
                                                <td>{{s.NAME}}</td>
                                                <td>{{s.LIVELIHOOD_NAME}}</td>
                                         </tr>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
    

                        

    
    
    
    
    
    
    
    
    
                    </from>
                </div>
    
            </div>
        </div>
    </div>
    `