.spinner-img{
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  .zoom-in-out-box {
    margin: 24px;
    width: 50px;
    height: 50px;
    animation: zoom-in-zoom-out 1s ease infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .my-input:focus {
    background-color: rgb(255, 8, 0);
  }

  .sidebar-right{
    display: none;
}
  