<!-- District Report Urban1 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - District Urban  REPORTS</h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" *ngIf="roleid =='1001' || roleid =='1002' || roleid =='1006'">
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="2" ></th> 
                                        <th colspan="4" >Wards</th>
                                        <th colspan="3" >Safaimitra Surveyed Records</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th *ngIf="urb1 == '1'">Name of the ULB</th>
                                        <th>Total</th>
                                        <th>Registered</th>
                                        <th>Pending Registrations</th>
                                        <th>% of Total Registrations</th>

                                        <th>Survey Started Wards</th>
                                        <th>% of Survey Started Wards</th>
                                        <th>Pending Wards in Starting of Survey</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5<br>(4-3)</th>
                                        <th>6<br>(4/3*100)</th>
                                        <th>7</th>
                                        <th>8<br>(7/4*100)</th>
                                        <th>9<br>(4-7)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!-- District Report Urban2 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - District Report Urban2  </h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" >
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="2" ></th> 
                                        <th colspan="4" >Sufaimitras Surveyed Records</th>
                                        <th colspan="6" > Surveyed Records in Nodal Officer Login</th>
                                        <th colspan="6" > Surveyed Records in Municipal Commissioner Login</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th>Estimated No.of Safaimitras</th>
                                        <th>Total Surveyed Today</th>
                                        <th>Pending Safaimitras to be Surveyed</th>
                                        <th>% of Safaimitras to be Surveyed</th>
                                       
                                        <th>Approved</th>
                                        <th>Rejected</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Rejected %</th>
                                        <th>Pending %</th>
                                        <th>Approved</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Pending %</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5<br>(3-4)</th>
                                        <th>6<br>(4/3*100)</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10<br>(7/4*100)</th>
                                        <th>11<br>(8/4*100)</th>
                                        <th>12<br>(9/4*100)</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15<br>(13/7*100)</th>
                                        <th>16<br>(14/8*100)</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr >
                                       
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>



<!-- District Report Rural1 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - District Report Rural1  </h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" >
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="2" ></th> 
                                        <th colspan="4" >Gram Panchayats</th>
                                        <th colspan="3" >Safaimitra Surveyed Records</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th>Total</th>
                                        <th>Registered</th>
                                        <th>Pending Registrations</th>
                                        <th>% of total Registrations </th>
                                       
                                        <th>Survey Started GPs</th>
                                        <th>% of Survey started GPs </th>
                                        <th>Pending GPs to Start Survey</th>
                                       
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6<br>(4/3*100)</th>
                                        <th>7</th>
                                        <th>8<br>(7/4*100)</th>
                                        <th>9<br>(4-7)</th>
                                        
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr >
                                       
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- District Report Rural2 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - District Report Rural2  </h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" >
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="2" ></th> 
                                        <th colspan="4" >Sufaimitras Surveyed Records</th>
                                        <th colspan="6" > Surveyed Records in EoPRRD Login</th>
                                        <th colspan="4" > Surveyed Records in DPO Login</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th>Estimated No.of Safaimitras</th>
                                        <th>Total Surveyed Safaimitras</th>
                                        <th>Pending Safaimitras Surveyed</th>
                                        <th>% of Safaimitras Surveyed</th>
                                       
                                        <th>Approved</th>
                                        <th>Rejected</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Rejected %</th>
                                        <th>Pending %</th>
                                        <th>Approved</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Pending %</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5<br>(3-4)</th>
                                        <th>6<br>(4/3*100)</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10<br>(7/4*100)</th>
                                        <th>11<br>(8/4*100)</th>
                                        <th>12<br>(9/4*100)</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15<br>(13/7*100)</th>
                                        <th>16<br>(14/8*100)</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr >
                                       
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!--  Urban Report 1 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - Urban Report 1</h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" >
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="3" ></th> 
                                        <th colspan="4" >Wards</th>
                                        <th colspan="3" >Safaimitra Surveyed Records</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th >Name of the ULB</th>
                                        <th>Total</th>
                                        <th>Registered</th>
                                        <th>Pending Registrations</th>
                                        <th>% of Total Registrations</th>

                                        <th>Survey Started Wards</th>
                                        <th>% of Survey Started Wards</th>
                                        <th>Pending Wards in Starting of Survey</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6<br>(5-4)</th>
                                        <th>7<br>(5/4*100)</th>
                                        <th>8</th>
                                        <th>9<br>(8/5*100)</th>
                                        <th>10<br>(5-8)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Urban Report 2 -->
<section class="survivey-section pt-2 pb-5 mb-5">
    <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="title-blk text-center">
                    <h2 class="text-primary">SAFAIMITRA SURVEY - Urban Report 2 </h2>
                </div>
            </div>
           
            <div class="card p-3 table-bg">
                <div class="row align-items-center justify-content-center">
                   
                 
                    <div class="col-12 col-xl-2" >
                        <label class="form-label">Select Urban/Rural</label>
                        <div class="form-check d-flex px-0">
                            <div class="me-3">
                                <input  type="radio" ng-control="options" value="U" name="catrad" id="catrad" [(ng-model)]="Swatch_Ur"
                                     (change)="URchange('U')" [checked]="ischecked" class="me-2">
                                <label class="custom-control-label" for="catrad" class="me-2">Urban</label>
                            </div>
                            <div>
                                <input  type="radio" ng-control="options" value="R" name="catrad" id="catrad1"  [(ng-model)]="Swatch_Ur"
                                    (change)="URchange('R')"  class="me-2">
                                <label class="custom-control-label" for="catrad1" class="me-2">Rural</label>
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-12 col-xl-2 mt-4 pt-2">
                </div>
               
                    <div class="row" >
                        <div class="col-12 col-xl-12 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-xl-6 text-start mb-0" >
                            <!-- <button type="button" class="btn btn-success btn-sm me-2" (click)="Back()">Back</button> -->
                        </div>
                        <div class="col-6 col-xl-6 text-end">
                            <button type="button" class="btn btn-success btn-sm me-2" (click)="exportSlipXl()"><i class="far fa-file-excel"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 mt-2" >
                        <div class="table-responsive">
                            <table class="table survey-table table-striped table-hover" style="text-align: center">
                                <thead>
                                   
                                 
                                    <tr>
                                        <th colspan="3" ></th> 
                                        <th colspan="4" >Sufaimitras Surveyed Records</th>
                                        <th colspan="6" > Surveyed Records in Nodal Officer Login</th>
                                        <th colspan="4" > Surveyed Records in Municipal Commissioner Login</th>
                                    
                                    </tr>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of the District</th>
                                        <th>Name of the ULB</th>
                                        <th>Estimated No.of Safaimitras</th>
                                        <th>Total Surveyed Today</th>
                                        <th>Pending Safaimitras to be Surveyed</th>
                                        <th>% of Safaimitras to be Surveyed</th>
                                       
                                        <th>Approved</th>
                                        <th>Rejected</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Rejected %</th>
                                        <th>Pending %</th>
                                        <th>Approved</th>
                                        <th>Pending</th>
                                        <th>Approved %</th>
                                        <th>Pending %</th>
                                    </tr>
                                    <tr>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5 </th>
                                        <th>6<br>(4-5)</th>
                                        <th>7<br>(5/4*100)</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10</th>
                                        <th>11<br>(8/5*100)</th>
                                        <th>12<br>(9/5*100)</th>
                                        <th>13<br>(11/5*100)</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16<br>(14/8*100)</th>
                                        <th>17<br>(15/8*100)</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>
                                    <tr >
                                       
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                  
                                 
                                </tbody>
                            </table>
                        
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer-section1 bg-dark py-2" style="
width: 100%;
bottom: 0;">
    <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <!-- <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div> -->
        <div class="container pb-2">
            <div class="row g-2">

                <div class="col-md-6 col-lg-9">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>
                        H.No. 54-16-1/14D, 3rd Floor, <br>
                        Road No.2, Central Excise Colony,<br>
                        Andhra Loyola College Road, Vijayawada.<br>
                        Andhra Pradesh</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i> 0866-2456708</p>
                    <!-- <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@Swachhaandhra.ap.gov.in</p> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Follow Us On</h6>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"  href="https://twitter.com/Swachhaandhra"   target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=" https://www.facebook.com/SwachhaAndhra/"   target="_blank"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/c/swachhaandhracorporationgoap"   target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/swachhaandhra/"   target="_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">

                    <div class="col-md-12 text-center mb-3 mb-md-0" style="z-index: 5;">
                        &copy; Copyright 2024 and All Right Reserved to Swachha Andhra Corporation, Municipal Administration & Urban Development Department.
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>






  