ul.ul-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.ul-submenu li a {
    color: #fff;
    font-size: 17px;
}
.phase-active{
    background-color: #32acc6 !important;
    color: #fff !important;
  }
  .logo-block img {
    width: 100px;
  }
  img.sal-img {
    width: 220px !important;
}
section.top-bar-section {
    background-image: url(/assets/images/topbar-bg-gray.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-fb {
  background-color: #3b5998;
}
.bg-twi {
  background-color: #55acee;
}
.bg-inst {
  background-color: #ac2bac;
}
.bg-yout {
  background-color: #ed302f;
}