
        <!-- Login Section Strats -->
        <section class="login-section pt-4 pb-5 d-flex flex-column align-items-center text-center justify-content-center">
            <div class="container-xxl">
                <div class="row text-center justify-content-center align-items-center">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-4">
                        <div class="login-logo">
                            <img src="assets/images/safaimitra-logo-3.png" class="img-fluid" alt="safaimitra-logo">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="login_form">
                            <div  class="form">
                                <a class="text-white" href=""><i class="fa fa-home"></i></a>
                                <h2 class="form_title text-white"> Change Password </h2>
                    
                                <div class="form_div">
                                    <input type="text" autocomplete="off" class="form_input" placeholder=" "  [(ngModel)]="username" style="top: 5px;">
                                    <label class="form_label"><i class="fa fa-user user-icon"></i> Username</label>
                                </div>
                    
                                <div class="form_div">
                                    <input type="password"  autocomplete="off" class="form_input"   [(ngModel)]="password" placeholder=" " style="top: 5px;">
                                    <label class="form_label"><i class="fa fa-key user-icon"></i>Old  Password</label>
                                </div>

                                <div class="form_div">
                                    <input type="password"  autocomplete="off" class="form_input"   [(ngModel)]="newpassword" minlength="8"  placeholder=" " style="top: 5px;">
                                    <label class="form_label"><i class="fa fa-key user-icon"></i>New  Password</label>
                                </div>
                    
                              <!--   <div id="captcha" class="form_div">
                                    <div class="captcha_form"> 
                                        <div class="row">
                                            <div class="col-lg-4 login-mobile-resp">
                                        <div class="result-text">
                                          <span class="text-white text-center fs-3 img-fluid " style="font-size: 1.5rem!important; font-weight: 600;">{{imgurl}}</span>
                                        </div>
                                            </div>
                                            <div class="col-lg-2 login-mobile-resp">
                                                <button type="button"  (click)="CapthaGenerate()" class="btn btn-danger captcha_refersh">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                            </div>
                                            <div class="col-lg-6 login-mobile-resp">
                                                <input type="text" class="form-control form_input-one"  [(ngModel)]="captchvalue" maxlength="2" minlength="2" placeholder="Enter captcha">
                                            </div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div> -->
                    
                                <input type="submit" (click)="Login()" class="form_button" value="Submit">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>
        </section>

     
     