.form_input:focus + .form_label {
    top: -0.5em;
    left: 0.8em;
    color: #ffffffb8;
    font-size: .80em;
    font-weight: 600;
    z-index: 5;
}
.form_input:focus {
    border: 0.1em solid rgb(1 138 84);
}
.form {
    width: 23em;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 10px 25px rgba(90,100,100,.2);
    background-color: #00000040;
}
.form_label {
    position: absolute;
    left: 1em;
    top: 8px;
    padding: 0 0.25em;
    background-color: #0000006b;
    color: #ffffffd1;
    font-size: 15px;
    transition: .4s;
}
.form_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0.1em solid #018a54;
    border-radius: 0.2em;
    outline: none;
    padding: 1em;
    z-index: 1;
    background: none;
    color: #fff;
}
.login_form #captcha .captcha_form input::placeholder {
    color: #fff;
}
.login_form #captcha .captcha_form input {
    width: 100%;
    font-size: 15px;
    border-radius: 0.5em;
    outline: none;
    padding: 0.5em;
    z-index: 1;
    background: none;
    color: #fff;
}