<body class="commodity-bg">

  <main>
    <section class="section error-404 align-items-center justify-contnt-center">
      <div class="container" *ngIf="runproject=='ChefCode'">
        <div class="row min-vh-100 align-items-center justify-contnt-center">
          <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
            <img src="assets/auth/404-error.png" class="img-fluid pb-5 float-bob-y" alt="Page Not Found">
            <h1>404</h1>
            <h2 class="text-center">You've found a page that doesn't exist.</h2>
            <a class="btn back-to-home" routerLink="/ChefCode/login"> <i class="bi bi-house-door"></i> Back to home</a>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="runproject=='boms'">
        <div class="row min-vh-100 align-items-center justify-contnt-center">
          <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
            <img src="assets/auth/404-error.png" class="img-fluid pb-5 float-bob-y" alt="Page Not Found">
            <h1>404</h1>
            <h2 class="text-center">You've found a page that doesn't exist.</h2>
            <a class="btn back-to-home" routerLink="/boms/login"> <i class="bi bi-house-door"></i> Back to home</a>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="runproject=='Payroll'">
        <div class="row min-vh-100 align-items-center justify-contnt-center">
          <div class="col-lg-12 col-md-12 text-center align-items-center justify-contnt-center">
            <img src="assets/auth/404-error.png" class="img-fluid pb-5 float-bob-y" alt="Page Not Found">
            <h1>404</h1>
            <h2 class="text-center">You've found a page that doesn't exist.</h2>
            <a class="btn back-to-home" routerLink="/Payroll/login"> <i class="bi bi-house-door"></i> Back to home</a>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
</body>